doctype html
head
  title Access denied
  include ../includes/head.pug
.container.d-flex.flex-column.h-100.justify-content-center(style="max-width: 320px")
    h3.headline.my-3 Sorry, you don't have access to this page.
    a#btn-home.btn.btn-block.btn-primary.mb-3(href="/") Home
