doctype html
head
  title User Accounts Express
  include ../includes/head.pug
include ../includes/nav.pug
.container.d-flex.flex-column.align-items-center
  img.my-5(src="https://via.placeholder.com/150", width="150")
  a#btn-signup.btn.btn-warning(href="/signup") Try XZY Free