doctype html
head
  title My Profile
  include ../includes/head.pug
include ../includes/nav.pug
.container.d-flex.flex-column.h-100.justify-content-center(style="max-width: 320px")
  form.login.d-flex.flex-column.align-items-center(method="post")
    h3.headline.my-3 My Profile
    .form-group.w-100
      label(for="email") Email address
      input#input-email.email.form-control(name="email", type="text", placeholder="e.g. david@widgetco.com", value=(values.email), class=(errors.email ? 'is-invalid' : ''))
      if errors.email
        .invalid-feedback=errors.email.msg
    .form-group.w-100
      label(for="fullName") Full name
      input#input-full-name.name.form-control(name="fullName", type="text", placeholder="e.g. David Jones", value=(values.fullName), class=(errors.fullName ? 'is-invalid' : ''))
      if errors.fullName
        .invalid-feedback=errors.fullName.msg
    button#btn-submit.submit.btn.btn-block.btn-primary.mb-3 Save
