doctype html
head
  title Protected page
  include ../includes/head.pug
include ../includes/nav.pug
.container.d-flex.flex-column.align-items-center
  h1 Protected page
  p You must be logged in to see this.